@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Licorice&display=swap');

*{
    margin: 0px;
}

body{
    background-image: none;
    background-color: #B0E0E6;
    color:black;
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#nave:link, #nave:visited, #nave:hover, #nave:active{
    color:#2e2e2e;
    text-decoration:none;
    font-size: 150%;
}

#opcoes a:link, #opcoes a:visited, #voltar a:link, #voltar a:visited, #generos a:link, #generos a:visited{
    color:black;
    text-decoration:none;
}

#opcoes a:hover, #opcoes a:active, #voltar a:hover, #voltar a:active, #generos a:hover, #generos a:active{
    color:black;
    text-decoration:underline;
}

#voltar{
    margin-left: 10px;
}
#generos{
    font-size: 20px;
}
a:link, a:visited{
    color:whitesmoke;
    text-decoration:none;
}

a:hover, a:active {
    color:whitesmoke;
    text-decoration:underline;
}

#header{
    background-color: #1A1A1A;
    padding: 25px;
}

#header h1{
    margin-right: 10px;
    margin-inline-start: 10px;
    color: whitesmoke;
    font-family: "Caveat", cursive;
  font-optical-sizing: 700px;
  font-style: normal;
}

#menu ul li{
    display: inline;
    margin-right: 30px;
    color: whitesmoke;
}

#menu ul, #generos ul { 
    padding: 0px;
    list-style:none;
}

#generos ul li{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 0px 15px 0px;
}

header, #menu, #menu ul{
    display: flex;
    align-items:center;    
}

#menu{
    flex:1px; 
    justify-content: right;
    align-items: right;
}

#paginaInicial{
    display: flex;
    margin: 10px 0px 10px 15px;
}

#paginaInicial1 h3{
    width: fit-content;
    margin-left: 5px;
    padding-right: 10px;    
    font-size: 230%;
    margin-top: 25px;
    border-radius: 10%;
    border: 5px solid black;
    background-color: rgb(123, 212, 244);
}

#paginaInicial h3{
    margin-left: 5px;
    padding-right: 5px;    
    font-size: 230%;
    margin-top: 25px;
    border-radius: 10%;
}

#opcoes{
    display:flex;
    align-items: center;
    justify-content: center;
    margin: 100px 0px 50px 0px;
}

#genero, #titulo{
    height: 150px;
    width: 150px;
    background-image: url('https://media.discordapp.net/attachments/1208768580234125392/1227032209261723740/CED99390-F6D6-41FE-BFDD-F2E143B85C1E.png?ex=6626edcb&is=661478cb&hm=f3b07cd5c531ac23f75cd36e9379251bd80742e105c558942098c37b801b1fe9&=&format=webp&quality=lossless&width=416&height=417');
    background-size:4cm;
    background-repeat: no-repeat;
    border-radius: 50%;
    align-content:flex-start;
    align-items: center;
    text-align: center;
}

#genero{
    margin-right: 50px;
}

#titulo{
    margin-left: 50px;
}

#genero p{
    margin-top: 89px;
    font-size: 25px;
    color: white;
    text-shadow: black 0.1em 0.1em 0.2em;
}

#titulo p{
    margin-top: 89px;
    margin-left: 5px;
    font-size: 25px;
    color: white;
    text-shadow: black 0.1em 0.1em 0.2em;
}

#rodape{
    background-color: #2c2c2c;
    align-items: center;
    text-align: center;
    bottom: 0;
    width: 100%;
    position:fixed;
    color: whitesmoke;
}

.animes{
    width: 100%;
    height: 50%;
    border-spacing: 0px;
}

.animes td{
    text-align: center;
    align-items: center;
    justify-content: center;
}

.animes a:link, .animes a:visited{
    color:black;
    text-decoration:none;
}

.animes a:hover, .animes a:active {
    color:black;
    text-decoration:underline;
}

#homepage{
    background-image: url("https://topmovies.com.br/wp-content/uploads/2023/10/1696422007_258_Studio-Ghibli-10-mundos-mais-encantadores-classificados.jpg");
    background-size: 100%;
}

#titulos #rodape{
    position: relative;
}

#main{
    display: flex;
    margin-left: 32px;
}

#main p{
    width: 30%;
    margin-left: 65px;
}

#sinopseTitulo{
    display: flex;
    margin-left: 5px;
    padding-right: 5px;    
    margin-top: 25px;
}
#sinopseTitulo h3{
    font-size: 200%;
    margin-left: 65px;
    margin-top: 14px;
}
#sinopseTitulo h2{
    font-size: 300%;
}

#notaAnime {
    display: flex;
    font-size: 150%;
    margin-left: 13px;
}

#trailer{
    margin-left: 65px;
    margin-bottom: 10px;
    display: block;
}

#classificacao{
    width: 100px;
    height: 100px;
}

#main2{
    display: block;
}

#main2 p{
    margin-top: 100px;
    display: inline;
}

#sobre{
    font-size: 200%;
    margin-left: 30px;
}

main li{
    display: list-item;
}

#capa{
    margin-bottom: -20px;
}

#notaAnime div{
    margin-top: 25px;
    font-size: 0.8em;
}

iframe{
    border-width: 0px;
}

#sobre{
    display: flex;
}

#sobre img{
    margin-left: 250px;
}
